<!DOCTYPE html>
{% extends 'app1/base.html' %}
{% block base %}
    <section id="bio">
        <h2 class="absolute">Profile</h2>
        <figure>
            <img src="#" alt="Pic" title="Profile Pic" loading="lazy">
        </figure>
        <p>Graduate student from Bishop Heber Collage Trichy in Bachelors of Business Administration. My academic background reflects a keen interest in both technology and music.</p>
    </section>

    

    <section id="disclaimer">
        <h2 class="absolute">Disclaimer</h2>
        <p>
            This website is a testament to my dedication to continuous learning and exploration. It serves as a platform to showcase my projects, ideas, and the culmination of my skills in various technologies. Whether you're here to explore programming concepts, seek web development inspiration, or learn more about the world of Django, I hope you find something valuable and engaging.
        </p>
    </section>
{% endblock %}