<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do-App</title>
    <link rel="stylesheet" href="{% static 'style2.css' %}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap');
    </style>
    <link rel="icon" href="{% static 'images/logo2.png' %}">
</head>
<body>
    <div class="container">
        {% block base %}
        {% endblock %}
    </div>
</body>
</html>